body{
	background-image: url(finalimg.jpg);
	background-size: cover;

}

h2{
	color: deeppink;
	text-align: center;
	border: dashed blueviolet;
}
img{
	float: left;

}
p{

	color: blueviolet;
	
	text-transform: lowercase;
	line-height: 50px ;
	font-style: italic;
	font-weight: bold;
	font-size: large;
	
	font-family: 'Akaya Telivigala', cursive;;

}
footer{
	clear: both;
	float: left;
}